if SHIELD_CORNEDEON_2MOD_LEFT

config ZMK_KEYBOARD_NAME
    default "Cornedeon 2M"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CORNEDEON_2MOD_LEFT || SHIELD_CORNEDEON_2MOD_RIGHT

config ZMK_SPLIT
    default y

endif
